{% extends "base.html" %}

{% block content %}
{% if author == True %}
<div>
    <a href="/" role="button">
        <button class='button'>Main Blog Page</button>
    </a>|
 </div>
{% endif %}

<h1 align="center">Build-a-Blog!</h1>

{% for blog in blogs %}
    <h2><a href='/single?id={{blog.id}}'>{{blog.title}}</a></h2>
    <p>{{blog.pub_date}}</p>
    <p>{{blog.body}}</p>
    {% if author == True %}
    <p>Written by: <a href="/single_user?id={{blog.owner_id}}">{{ email[blog.owner_id] }}</a></p>
    {% endif %}

    <hr>

{% endfor %}

{% endblock %}